spring:
  # 日期自动格式化
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss # 格式化时间
    time-zone: GMT+8 # 时区
  datasource:
    url: jdbc:mysql:///vhr?useUncode=true&characterEncoding=UTF-8
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.jdbc.Driver

  redis:
    url: localhost
    port: 6379
    password:
    database: 1

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    call-setters-on-nulls: true

server:
  port: 8081
