<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.vhr.mapper.HrMapper">

    <resultMap id="loadHr" type="com.ljh.vhr.entity.Hr">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="phone" column="phone" />
        <result property="telephone" column="telephone" />
        <result property="address" column="address" />
        <result property="enabled" column="enabled" />
        <result property="username" column="username" />
<!--        <result property="password" column="password" />-->
        <result property="userFace" column="userface" />
        <result property="remark" column="remark" />
        <collection property="roles" ofType="com.ljh.vhr.entity.Role" column="id" select="loadRoleByUserId" />
    </resultMap>

    <select id="loadUserByName" resultMap="loadHr">
        SELECT
            *
        FROM
            hr
        WHERE
            username = #{name}
    </select>

    <select id="loadRoleByUserId" resultType="com.ljh.vhr.entity.Role">
        SELECT
            *
        FROM
            role r
        JOIN hr_role hr ON r.id = hr.rid
        WHERE
            hr.hrid = #{id}
    </select>

    <select id="getAllHrs" resultMap="loadHr">
        SELECT
            *
        FROM
            hr
        WHERE
            id != #{id}
    </select>
</mapper>