<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.vhr.mapper.MenuMapper">

    <resultMap id="menuInfo" type="com.ljh.vhr.entity.Menu">
        <id property="id" column="id" />
        <result property="url" column="url" />
        <result property="path" column="path" />
        <result property="component" column="component" />
        <result property="name" column="name" />
        <result property="iconCls" column="iconCls" />
        <result property="parentId" column="parentId" />
        <result property="enabled" column="enabled" />
        <association property="meta" javaType="com.ljh.vhr.entity.Meta" >
            <result property="keepalive" column="keepalive" />
            <result property="requireAuth" column="requireAuth" />
        </association>
    </resultMap>

    <resultMap id="loadMenu" type="com.ljh.vhr.entity.Menu" extends="menuInfo">
        <collection property="children" ofType="com.ljh.vhr.entity.Menu" >
            <id property="id" column="id2" />
            <result property="path" column="path2" />
            <result property="component" column="component2" />
            <result property="name" column="name2" />
            <result property="iconCls" column="iconCls2" />
            <result property="parentId" column="parentId2" />
            <result property="enabled" column="enabled2" />
            <association property="meta" javaType="com.ljh.vhr.entity.Meta" >
                <result property="keepalive" column="keepalive2" />
                <result property="requireAuth" column="requireAuth2" />
            </association>
        </collection>
    </resultMap>

    <resultMap id="loadAllMenu" type="com.ljh.vhr.entity.Menu" extends="menuInfo">
        <collection property="roles" ofType="com.ljh.vhr.entity.Role" column="id" select="queryMenuRoleById">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="nameZh" column="nameZh" />
        </collection>
    </resultMap>

    <!--根据用户id加载菜单-->
    <select id="loadMenuByUserId" resultMap="loadMenu">
        SELECT DISTINCT
            m1.*,
            m2.id id2,
            m2.NAME name2,
            m2.path path2,
            m2.parentId parentId2,
            m2.component component2,
            m2.enabled enabled2,
            m2.iconCls iconCls2,
            m2.requireAuth requireAuth2,
            m2.keepAlive keepAlive2
        FROM
            menu m1,
            menu m2,
            hr_role hr,
            menu_role mr
        WHERE
            m1.id = m2.parentId
            AND hr.hrid = #{userId}
            AND hr.rid = mr.rid
            AND mr.mid = m2.id
            AND m2.enabled = TRUE
        ORDER BY
            m1.id,
            m2.id
    </select>

    <!--获取所有菜单 按照匹配长度倒序排列,优先匹配适配度高的-->
    <select id="allMenu" resultMap="loadAllMenu">
        SELECT
            *
        FROM
            menu
        WHERE
            enabled = 1
        ORDER BY LENGTH(url) DESC
    </select>

    <!--查询菜单对应角色-->
    <select id="queryMenuRoleById" resultType="com.ljh.vhr.entity.Role">
        SELECT
            r.*
        FROM
            menu_role mr
        LEFT JOIN role r ON mr.rid = r.id
        WHERE
            mr.mid = #{id}
    </select>
</mapper>